{% extends "base.html" %}
{% load static thumbnail %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{% static "jquery.mosaic.min.css" %}"/>
{% endblock %}

{% block title %}
    <title>25 ans dynamobile</title>
{% endblock %}

{% block content %}
    <div class="p-3 row flex-row-reverse">
        <div id="info" class="my-5 col-12 col-md-4 col-lg-3 collapse show">
            <div class="row flex-row-reverse">
                <button class="btn btn-primary" type="button"
                        data-toggle="collapse"
                        data-target="#info" aria-expanded="false"
                        aria-controls="info">
                    <strong>X</strong>
                </button>
                <div class="col flex-grow-1"></div>
            </div>

            Cher·ère·s ami·e·s cyclistes,
            <br>
            <br>
            Il est important de rappeler que cette année marque 25 années d'une
            belle aventure.
            C'est pour cette raison que nous avons envie de vous rassembler le
            week-end du 17 octobre, virtuellement certes, mais avec votre vélo.
            <br>
            <br>
            Nous vous proposons d'enfourcher votre monture, seul·e, en famille
            ou en petits groupes, de faire quelques photos ou simplement
            d'écrire un petit mot.
            Nous laissons libre cours à votre imagination.
            Peut-être y retrouverons-nous des capitaines de routes, des
            signaleurs, de la musique... ou tout autre clin d'œil propre à
            l'esprit « Dynamobile ».
            <br>
            <br>
            <a href="{% url "upload" %}">
                <div class="btn btn-warning">Ajouter un message ou une image
                </div>
            </a>
        </div>
        <div class="col mosaic overflow-auto" id="mosaic">
            {% include 'twenty_five/simple_message_list.html' %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "jquery.mosaic.min.js" %}"></script>
    <script src="{% static "infinite-scroll.pkgd.min.js" %}"></script>

    <script>
        $('#mosaic').Mosaic({
            maxRowHeight: 480,
            refitOnResize: true,
            refitOnResizeDelay: false,
            defaultAspectRatio: 1,
            maxRowHeightPolicy: 'tail',
            highResImagesWidthThreshold: 800,
            responsiveWidthThreshold: 500
        });
        var mosaic = $('#mosaic').infiniteScroll({
            // options
            path: '?page={% templatetag openvariable %}#{% templatetag closevariable %}',
            append: '.item',
            history: false, outlayer: mosaic,
            status: '.page-load-status'
        });
        mosaic.on('load.infiniteScroll', function (event, response) {
            // get posts from response
            var $posts = $(response).find('.post');
            // append posts after images loaded
            $posts.imagesLoaded(function () {
                mosaic.infiniteScroll('appendItems', $posts);
                mosaic.resize();
            });
        });
        $('#info').on('hidden.bs.collapse', function () {
            mosaic.resize();
        })
    </script>
{% endblock %}