{% extends "base.html" %}
{% load static thumbnail %}
{% block style %}
    {{ block.super }}
    <style>
        #fixedbutton {
        {#position: fixed;#} top: 10px;
            right: 10px;
        }
    </style>
{% endblock %}

{% block title %}
    <title>25 ans dynamobile</title>
{% endblock %}

{% block content %}
    <div class="m-0 w-100 h-100 mosaic" id="mosaic">
        {% for object in object_list %}
            {% thumbnail object.image "x480" as im %}
                <div class="item withImage" width="{{ im.width }}"
                     height="{{ im.height }}"
                     style="background-color: #E9780C;background-image: url('{{ im.url }}');"
                     data-high-res-background-image-url="{{ object.image.url }}">
                    <div class="overlay">
                        <div class="texts"><h1>{{ object.copyright_holder }}</h1>
                            <h2>From unsplash.com</h2></div>
                    </div>
                </div>
            {% endthumbnail %}
        {% endfor %}
    </div>

    <a href="{% url "upload" %}">
        <div id="fixedbutton" class="position-fixed btn btn-warning">
            <h1><strong>+</strong></h1>
        </div>
    </a>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "jquery.mosaic.min.js" %}"></script>
    <link rel="stylesheet" type="text/css"
          href="{% static "jquery.mosaic.min.css" %}"/>
    <script>
        $('#mosaic').Mosaic({
            maxRowHeight: 480,
            refitOnResize: true,
            refitOnResizeDelay: false,
            defaultAspectRatio: 1,
            maxRowHeightPolicy: 'tail',
            highResImagesWidthThreshold: 800,
            responsiveWidthThreshold: 500
        });
    </script>
{% endblock %}