{% extends "base.html" %}

{% block content %}
    <div class="row p-3">
        <div class="col"></div>
        <div class="col-12 col-md-12 col-lg-10 ">
            Cher·ère·s ami·e·s cyclistes,
            <br>
            <br>
            Il est important de rappeler que cette année marque 25 années d'une
            belle aventure.
            C'est pour cette raison que nous avons envie de vous rassembler le
            week-end du 17 octobre, virtuellement certes, mais avec votre vélo.
            <br>
            <br>
            Comment faire ?
            Du 17 au 20 octobre, connectez-vous ici.
            Ce lien sera actif 4 jours, puis restera visible sur notre site.
            Nous vous proposons d'enfourcher votre monture, seul·e, en famille
            ou en petits groupes, de faire quelques photos ou simplement
            d'écrire un petit mot.
            Nous laissons libre cours à votre imagination.
            Peut-être y retrouverons-nous des capitaines de routes, des
            signaleurs, de la musique... ou tout autre clin d'œil propre à
            l'esprit « Dynamobile ».
            <br>
            <br>
            D'autre part, cette année, nous aurions rencontré Laïla et Colienne,
            nos nouvelles cuisinières. Bonne nouvelle quand même, si vous le
            souhaitez, vous pouvez découvrir leurs délicieux petits plats à
            emporter en allant sur leur site : <a
                href="https://originelles.be/">https://originelles.be/</a>.
            Une manière sympathique de les soutenir.
            <br>
            <br>
            Et... en attendant la prochaine édition de Dynamobile, continuons à
            faire vivre le vélo sous toutes ses formes ! Au nom de toute
            l'équipe, je vous souhaite de profiter de chaque moment, en
            commençant par prendre soin de vous et des autres.
        </div>
        <div class="col"></div>

    </div>

{% endblock %}
