{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block style %}
    {{ block.super }}
    <style>
        .form-inline > .form-group > label {
            justify-content: left;
            width: 100px;
        }

        .list-group-item {
            max-width: 200px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row p-3">
        <div class="col"></div>
        <div class="col-12 col-lg-10">

            <p>{% blocktrans %}
                Ce formulaire a pour but d’aider le comité gastronomique dans la rédaction d’un cahier de charge pour le
                prestataire cuisine. Le but n’est pas de rentrer dans le détail mais de donner une idée des aspirations
                éthiques de Dynamobile en recueillant les attentes des membres du CA. En effet, Dynamobile existe depuis
                plus de 25 ans et ses membres ont rejoint l’association à différents moments et pour différentes
                raisons. Nous essayons donc ici de mesurer la température afin de rédiger un cahier de charge compatible
                avec la vision du CA.
            {% endblocktrans %}</p>
            {% crispy form %}
        </div>
        <div class="col"></div>
    </div>
{% endblock %}
